@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@500;600&display=swap);
html,
body {
  background-color: #2a2625 !important;
  height: 100%;
  margin: 0;
  font-family: "Dosis", sans-serif !important;
  font-weight: 400 !important;
  position: relative;
  min-height: 100vh;
  padding-bottom: 300px; /* height of your footer */
}

.nav-bar1 {
  z-index: 1;
  position: absolute;
  top: 1%;
  left: 30%;
  transform: translateX(-50%);
  display: inline-block;
  animation: slide-in 1s ease-out;
  font-size: 40px;
}
.nav-bar2 {
  z-index: 1;
  position: absolute;
  top: 1%;
  right: -5%;
  transform: translateX(-50%);
  display: inline-block;
  animation: slide-in 1s ease-out;
  font-size: 40px;
}

.item-list {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding: 0 30px;
  list-style-type: none;
}
.item-list li:not(:last-child) {
  margin-right: 40px;
}
.item-list li {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  transition: background 0.2s;
}
.item-list li a {
  color: snow;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s;
}
.item-list li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: block;
  margin: 12px -12px;
  padding: 0;
  background: #ffa91b;
  border: 2px solid #f7c833;
  border-right: 2px solid #f89329;
  border-bottom: 2px solid #f89329;
  border-radius: 5px;
  transition: opacity 0.2s, visibility 0.2s;
  list-style-type: none;
}
.item-list li ul li {
  margin: -2px 0 0 -2px;
  width: calc(100% - 20px);
  line-height: 1.7;
}
.item-list li ul li a {
  color: #2375d8;
}
.item-list li:hover {
  background: #ec4138;
  border: 2px solid #f05749;
  border-right: 2px solid #e02a21;
  border-bottom: 2px solid #e02a21;
}
.item-list li:hover a {
  color: #f9f8fd;
}
.item-list li:hover ul {
  visibility: visible;
  opacity: 1;
  box-shadow: 0px 3px 5px 2px #ebecf1;
}
.item-list li:hover ul li a {
  color: #f9f8fd;
}

@keyframes slide-in {
  0% {
    top: -50px;
  }
  40% {
    top: 20px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}

.container {
  margin-top: 15%;
  margin-left: 25%;
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 500px;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #e8edec;
  font-size: 90px;
  color: rgb(240, 162, 2);
}
.nav-bar h2 {
  color: rgb(239, 47, 60);
}
h2 {
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #e8edec;
  font-size: 40px;
  color: rgb(239, 47, 60);
}

#timer {
  color: #f6f4f3;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 5px;
  margin-top: 10%;
}
.days,
.hours,
.minutes,
.seconds {
  display: inline-block;
  padding: 20px;
  width: 200px;
  border-radius: 5px;
  font-size: 20px;
}
.days {
  background: #ef2f3c;
}
.hours {
  background: #f6f4f3;
  color: #183059;
}
.minutes {
  background: #276fbf;
}
.seconds {
  background: #f0a202;
}
.numbers {
  color: #183059;
  font-size: 6em;
}
.wrapper {
  max-width: 500px;
  width: 50%;
  background: #fff;
  padding: 60px 45px;
  position: relative;
  top: 43%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.wrapper-post {
  margin-top: 5%;
  width: 90%;
  height: auto;
  padding: 40px 40px;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}
.wrapper-thanks {
  width: 90%;
  height: auto;
  padding: 40px 40px;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.wrapper-part {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: 50px;
}
.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: red;
}
.wrapper .form .input_field {
  position: relative;
  margin-bottom: 10px;
  margin-right: 40px;
  width: 100%;
  padding: 9px;
  border: none;
  background: #eee;
  font-size: 25px;
  border-radius: 25px;
}

.input {
  width: 100%;
  border: none;
  font-size: 25px;
  background: #eee;
  text-shadow: #1d2120;
  text-indent: 15%;
  border: none;
}

.form .btn {
  width: 70%;
  margin: 20px auto 0;
  background: red;
  padding: 12px;
  border-radius: 25px;
  color: #e8edec;
  font-size: 20px;
  border: none;
  margin-left: 17%;
}
.wrapper .form .input_field i {
  position: absolute;
  top: 7px;
  left: 15px;
  font-size: 20px;
  color: #1d2120;
  padding-top: 3%;
}
input:focus {
  outline: none !important;
}
/* COntact */
.wrapper-contact .form-contact .input_field-contact {
  position: relative;
  margin-bottom: 5px;
  width: 50%;
  padding: 9px;
  border: none;
  background: #eee;
  font-size: 25px;
  border-radius: 25px;
  margin-left: 50%;
}
.wrapper-contact {
  margin-top: 7%;
  max-width: 900px;
  width: 90%;
  background: #fff;
  padding: 60px 45px;
  position: relative;
  top: 43%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.input-contact {
  width: 100%;
  border: none;
  font-size: 25px;
  background: #eee;
  text-shadow: #1d2120;
  text-indent: 15%;
  border: none;
}
.input-contact-text {
  width: 100%;
  border: none;
  font-size: 25px;
  background: #eee;
  text-shadow: #1d2120;
  text-indent: 15%;
  border: none;
  height: 150px;
}
.input-contact-text:focus {
  outline: none !important;
}

.form-contact .btn {
  width: 20%;
  margin: 20px auto 0;
  background: red;
  padding: 12px;
  border-radius: 25px;
  color: #e8edec;
  font-size: 20px;
  border: none;
  margin-left: 17%;
}

.wrapper-contact .form-contact .input_field-contact i {
  position: absolute;
  top: 7px;
  left: 15px;
  font-size: 20px;
  color: #1d2120;
  padding-top: 3%;
}
.forgot {
  text-align: center;
  padding-top: 5%;
  font-size: 20px;
}
.forgot a {
  text-decoration: none;
}

.content-section {
  background: #ffffff;
  padding: 10px 30px 0px 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.article-title {
  color: #444444;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  font-size: 25px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.display-content {
  display: inline-block;
  margin: 0 1.5%;
  width: 30%;
  padding-left: 5%;
}

.form-result {
  position: relative;
  margin-bottom: 10px;
  margin-right: 40px;
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 25px;
}
.text-message {
  color: rgb(240, 162, 0);
  font-size: 50px;
}
.footer {
  height: auto;
  width: 100%;
  padding: 10px 0px 0px 0px;
  bottom: 0;
  position: absolute;
}
.footer-container {
  background: url(/static/img/snow.png);
  padding-top: 20%;
}
.footer p {
  padding-top: 2px;
  font-size: 13px;
  color: black;
  margin-bottom: -1px;
  list-style-type: none;
  padding-left: 87%;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  display: table;
  margin-bottom: 10px;
  margin: 15px 40% 0 40%;
  list-style-type: none;
}

.foote_bottom_ul_amrc li {
  display: inline-block;
  align-items: center;
}
.foote_bottom_ul_amrc li a {
  color: black;
  margin: 0 10px;
  text-decoration: none;
}

.social_footer_ul {
  margin: 15px 40% 0 40%;
  list-style-type: none;
}
.social_footer_ul li {
  display: inline-block;
  padding: 2px;
  margin-left: auto;
  margin-right: 10%;
}
.social_footer_ul li a {
  color: black;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10%;
  overflow: hidden;
  display: inline-block;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
.padding-bt {
  padding-bottom: 5%;
}
