*.js linguist-detectable=true
*.css linguist-detectable=true
*.py linguist-detectable=true
*.html linguist-detectable=true

contact.html linguist-language=Python
login.html linguist-language=Python
register.html linguist-language=Python
join.html linguist-language=Python
new_post.html linguist-language=Python
profile.html linguist-language=Python
thanks.html linguist-language=Python

