*.js linguist-detectable=true
*.css linguist-detectable=true
*.py linguist-detectable=true
*.html linguist-detectable=true
SecretSanta/templates/errors/*.html linguist-vendored
SecretSanta/templates/about.html linguist-vendored
SecretSanta/templates/services.html linguist-vendored
SecretSanta/templates/result.html linguist-vendored
SecretSanta/templates/.html linguist-vendored
