*.js linguist-detectable=true
*.css linguist-detectable=true
*.py linguist-detectable=true
*.html linguist-detectable=true

SecretSanta/templates/errors/*.html linguist-vendored
login.html linguist-language=Python
register.html linguist-language=Python


